@charset "UTF-8";



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    height: 100vh;
    background-color: #b3b3b386;
}



header {
    padding: 40px;
    font-size: 1.8em;
    text-align: center;
}



nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 70px;
}
nav > div > div {
    padding: 10px;
    text-align: center;
}



main {
    margin: 20px;
}
main > img {
    display: block;
    width: 240px;
    height: auto;
    margin: auto;
}



footer {
    display: flex;
    justify-content: center;
}